
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <!--Test Comment-->
    <!--This is home page-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>

<body>
<div class="row container-wrapper header-wrapper">

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
        <a ng-href="home.html"><button class="btn btn-primary" ng-hide="" value="">Product</button></a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class=" text-center" >
            <h2 class="header-no-margin">QuickRent</h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center" ng-controller="LoginCtrl">
        <a class="btn btn-primary" data-toggle="modal" data-target="#singin" value="" ng-show="checkUserLogin">Sign-In</a>
        <a class="btn btn-primary" data-toggle="modal" data-target="#singup" value="" ng-show="checkUserLogin">Sign-Up</a>
        <div ng-show="checkUserLogout">
            <a href="../views/userproducts.html" class="display-inline"><h5><b>Hi,{{userid}}</b></h5></a>
            <div class="display-inline">
                <button class="btn btn-danger"  value="" ng-click="logout()">Logout</button>
            </div>
        </div>
       <!-- hi there-->
        <!-- Modal Sing-In -->
        <div class="modal fade" id="singin" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="form-signin-heading">Please login</h2>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper" >
                            <div class="alert alert-warning" ng-show="showalertlogin">
                                <strong>Warning!</strong> Fields cannot be empty.
                            </div>
                            <form class="form-signin">
                                <input type="text" class="form-control" ng-model="loginusername" placeholder="Username" ng-required autofocus="" />
                                <input type="password" class="form-control" ng-model="loginpassword" placeholder="Password" ng-required/>
                                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login()">Login</button>
                                <div class="row" align="center">
                                    <a href="" data-toggle="modal" data-target="#myModal">Forgot Username or password </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Sing-up -->
        <div class="modal fade" id="" role="dialog">
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="form-signin-heading">Sign-Up</h2>

                    </div>
                    <div class="modal-body">
                        <div class="wrapper" ng-controller="RegisterCtrl">
                            <div class="alert alert-warning" ng-show="showalertregis">
                                <strong>Warning!</strong> Fields cannot be empty.
                            </div>
                            <form class="form-signin">
                                <input type="text" class="form-control" ng-trim="true" ng-model="regisusername" placeholder="User Name" ng-required autofocus="true" />
                                <input type="text" class="form-control" ng-model="regisnumber" placeholder="Phone Number" ng-required autofocus="true" />
                                <input type="email" class="form-control" ng-model="regisemail" placeholder="Email Address" ng-required autofocus="true" />
                               <input type="password" class="form-control" ng-model="regispassword" placeholder="Password" ng-required autofocus="true" />
                                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="register()">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="singup" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="form-signin-heading">Sign-Up</h2>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper" ng-controller="RegisterCtrl">
                            <form class="form-signin">

                                <input type="text" class="form-control" ng-model="regisusername" placeholder="User Name" required="" autofocus="" />
                                <input type="email" class="form-control" ng-model="regisemail" placeholder="Email Address" required="" autofocus="" />
                                <input type="password" class="form-control" ng-model="regispassword" placeholder="Password" required=""/>
                                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="register()">Register</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- forgot Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="form-signin-heading">Forget Password</h2>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper" ng-controller="ForgotCtrl">
                            <form class="form-signin">
                                <input type="email" class="form-control" ng-model="email" placeholder="Email Address" required="" autofocus="" />
                                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="lost()">Send Password</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row body-section-height" >
    <img src="../images/dollar.jpg" class="img-resposive background-image-size" width="100%">
    <div class="text-box-container" ng-controller="LocateProduct">
        <form>
            <div class="row">
                <h3>
                    Search Your Product:
                </h3>
                <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
                    <input type="text" class="form-control" placeholder="Search" ng-model="product"/>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                    <button class="btn btn-primary btn-width" type="submit" ng-click="searchProduct()">GO</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="inner-container" ng-controller = "getspecific">
    <div class="row">
        <div class="container">
            <h3 class="text-center">Our Products</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-content">
                            <a  ng-click="specificProduct($event)" data="car"><h3>Cars</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-content">
                            <a ng-click="specificProduct($event)" data="book"><h3>Books</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-content">
                            <a  ng-click="specificProduct($event)" data="furniture"><h3>Furniture</h3></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-content">
                            <a  ng-click="specificProduct($event)" data="machine"><h3>Machines</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-content">
                            <a  ng-click="specificProduct($event)" data="cloth"><h3>Clothes</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-content">
                            <a ng-click="specificProduct($event)" data="other"><h3>Others</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/dirPagination.js"></script>
<script type="text/javascript" src="../js/ng-file-model.js"></script>
<script type="text/javascript" src="../js/ng-ckeditor.js"></script>
<script type="text/javascript" src="../controllers/controller.js"></script>
<script type="text/javascript" src="http://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

<script src="../js/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="../js/ng-file-upload.min.js"></script>
<scipt src="../js/config.js"></scipt>


<!--<script src="libs/angular/angular.js"></script>-->
</body>
</html>
