<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product page</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>
<body>
<div class="row container-wrapper header-wrapper">

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
        <a ng-href="home.html"><button class="btn btn-primary" ng-hide="" value="">Home</button></a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class=" text-center">
            <a href="Home.html"><h2 class="header-no-margin">Quickrent</h2></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center" ng-controller="Product">
        <a class="btn btn-primary" data-toggle="modal" data-target="#singin" ng-hide="checkUserLogout">Sign-In</a>
        <a class="btn btn-primary" data-toggle="modal" data-target="#singup" ng-hide="checkUserLogout">Sign-Up</a>
        <div ng-show="checkUserLogout">
            <a href="../views/userproducts.html" class="display-inline" ><h5><b>Hi!{{userid}}</b></h5></a>
            <div class="display-inline">
                <button class="btn btn-danger"  value="" ng-click="logout()">Logout</button>
            </div>
        </div>

        <!-- Modal Sing-In -->
        <div class="modal fade" id="singin" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="form-signin-heading">Please login</h2>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper" ng-controller="Product">
                            <div class="alert alert-warning" ng-show="showalertlogin">
                                <strong>Warning!</strong> Fields cannot be empty.
                            </div>
                            <form class="form-signin">
                                <input type="text" class="form-control" ng-model="loginusername" placeholder="Username" ng-required autofocus="" />
                                <input type="password" class="form-control" ng-model="loginpassword" placeholder="Password" ng-required/>
                                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login()">Login</button>
                                <div class="row" align="center">
                                    <a href="" data-toggle="modal" data-target="#myModal">Forgot Username or password </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Sing-up -->
        <!--<div class="modal fade" id="" role="dialog">-->
            <!--<div class="modal">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <!--<h2 class="form-signin-heading">Sign-Up</h2>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<div class="wrapper" ng-controller="RegisterCtrl">-->
                            <!--<form class="form-signin">-->
                                <!--<input type="text" class="form-control" ng-trim="true" ng-model="regisusername" placeholder="User Name" ng-required autofocus="true" />-->
                                <!--<input type="text" class="form-control" ng-model="regisnumber" placeholder="Phone Number" ng-required autofocus="true" />-->
                                <!--<input type="email" class="form-control" ng-model="regisemail" placeholder="Email Address" ng-required autofocus="true" />-->
                                <!--<input type="password" class="form-control" ng-model="regispassword" placeholder="Password" ng-required autofocus="true" />-->
                                <!--<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="register()">Register</button>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <div class="modal fade" id="singup" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="form-signin-heading">Sign-Up</h2>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper" ng-controller="RegisterCtrl">
                            <form class="form-signin">

                                <input type="text" class="form-control" ng-model="regisusername" placeholder="User Name" required="" autofocus="" />
                                <input type="email" class="form-control" ng-model="regisemail" placeholder="Email Address" required="" autofocus="" />
                                <input type="password" class="form-control" ng-model="regispassword" placeholder="Password" required=""/>
                                <input type="text" class="form-control" ng-model="regisnumber" placeholder="Phone Number" ng-required autofocus="true" />
                                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="register()">Register</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- forgot Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="form-signin-heading">Forget Password</h2>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper" ng-controller="ForgotCtrl">
                            <form class="form-signin">
                                <input type="email" class="form-control" ng-model="email" placeholder="Email Address" required="" autofocus="" />
                                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="lost()">Send Password</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Products -->
<div class="container">
    <div class="row inner-padding">
        <form ng-controller="Product">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label for="productlist">Products:</label>
                    <select class="form-control" id="productlist" ng-model="itemSelectName">
                        <option ng-repeat="item in items.name" value="{{item}}" ng-selected="items.name">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label for="area">Area:</label>
                    <select class="form-control" id="area" ng-model="itemSelectArea">
                        <option ng-repeat="area in areas.location" value="{{area}}" ng-selected="itemSelectArea">{{area}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label for="itemprice">Price:</label>
                    <select class="form-control" id="itemprice" ng-model="itemSelectPrice">
                        <option ng-repeat="price in prices.amount" value="{{price}}" ng-selected="itemSelectPrice">{{price}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 inner-padding">
                <button type="submit" class="btn btn-primary" value="Search" style="margin-top:15px;width: 100%;"
                        ng-click="selected()">Search
                </button>
            </div>
        </form>
    </div>
    <!--Add Product-->
    <div class="row text-center">
        <div class="form-group inner-padding">
            <!-- Trigger the modal with a button -->
            <h3 class="display-inline">Add Your Product</h3>
            <div class="display-inline">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addproduct">Add
                    Product
                </button>
                <!-- Modal -->
                <div id="addproduct" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Upload Product</h4>
                            </div>
                            <div class="modal-body" ng-controller="addProduct">
                                <form ng-controller="addProduct as up" name="up.upload_form"  >
                                    <!--enctype="multipart/form-data"-->
                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Images:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <div id="image" style="padding:5px">
                                                <input
                                                        type="file"
                                                        ngf-select
                                                        ng-model="up.file"
                                                        name="file"
                                                        ngf-pattern="'image/*'"
                                                        accept="image/*"
                                                        ngf-max-size="20MB"
                                                />
                                              <!--  Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file || '/thumb.jpg'"/>
                                                <input
                                                        type="file"
                                                        ngf-select
                                                        ng-model="up.file1"
                                                        name="file1"
                                                        ngf-pattern="'image/*'"
                                                        accept="image/*"
                                                        ngf-max-size="20MB"
                                                />
                                                Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file1 || '/thumb.jpg'"/>
                                                <input
                                                        type="file"
                                                        ngf-select
                                                        ng-model="up.file2"
                                                        name="file2"
                                                        ngf-pattern="'image/*'"
                                                        accept="image/*"
                                                        ngf-max-size="20MB"
                                                />-->
                                                Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file2 || '/thumb.jpg'"/>
                                                <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                                                <i ng-show="up.upload_form.file.$error.maxSize">File too large
                                                    {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                                <!--<button type="submit" ng-click="up.submit()">submit</button>-->
                                                <!--<p>{{up.progress}}-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Owner Name:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <div style="padding: 5px">
                                                <textarea class="form-control" rows="1" id="comment"
                                                          ng-model="ownername"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Email Address:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <div style="padding: 5px">
                                                <textarea class="form-control" rows="1" id="comment"
                                                          ng-model="emailaddress"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Product Name:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <div style="padding: 5px">
                                                <textarea class="form-control" rows="1" id="comment"
                                                          ng-model="productname"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Product Type:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <div style="padding: 5px">
                                                <textarea class="form-control" rows="1" id="comment"
                                                          ng-model="producttype"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Description:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <textarea ng-model="productdescrip" ckeditor="editorOptions" class="ckEditorP">
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Address 1:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <textarea class="form-control" rows="1" id="comment" ng-model="productaddress1"></textarea>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Address 2:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <textarea class="form-control" rows="1" id="comment" ng-model="productaddress2"></textarea>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>City:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <textarea class="form-control" rows="1" id="comment" ng-model="productcity"></textarea>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Price:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <textarea class="form-control" rows="1" id="comment"
                                                      ng-model="productprice"></textarea>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <h5>Contact:</h5>
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <textarea class="form-control" rows="1" id="comment"
                                                      ng-model="productcontact"></textarea>
                                            <div class="inner-padding">
                                                <!--<button type="submit" class="btn btn-danger" ng-click="up.submit()>submit-->
                                                <button ng-show="buttonShow" type = "submit" class="btn btn-danger" ng-click="up.submit()">Submit</button>
                                                <div ng-show="parashow" class="alert alert-info">
                                                    <strong>Info!</strong> You Have to Log in to add product
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <!--modal body end-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                        ng-click="clearData()">Close
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Products controller-->
    <div class="row">
        <div ng-controller="Product"  >
            <!--<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-repeat="product in products" dir-paginate="product in products | itemsPerPage: pageSize" current-page="currentPage" pagination-id="mealsPagination">-->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-controller="Product"
                 dir-paginate="product in products | itemsPerPage: pageSize " current-page="currentPage"
                 pagination-id="mealsPagination">
                <div class="card">
                    <div class="card-img-container">
                        <img ng-src="../image_upload/{{product.productimagename1}}" class="card-img">
                        <span class="card-title">{{product.productOwnerName}}</span>

                    </div>
                    <div class="card-product-content"  >
                        <p ng-bind-html=product.productDescription></p>
                        <input type="hidden" name="Htype" value="{{product.productType}}">
                        <input type="hidden" name="Haddress" value="{{product.Address}}">
                        <input type="hidden" name="Hprice" value="{{product.Price}}">
                        <!-- {{product.productDescription}}Trigger the modal with a button -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#product{{$index}}">More detail
                        </button>

                        <!-- Modal -->
                        <div id="product{{$index}}" class="modal fade" role="dialog" ng-controller="email">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Product Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row inner-padding">
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">

                                                    <div class="item active">
                                                        <img ng-src="../image_upload/{{product.productimagename1}}" alt="Chania" width="100%">
                                                    </div>

                                                    <div class="item">
                                                        <img ng-src="../image_upload/{{product.productimagename1}}" alt="Chania" width="100%">

                                                    </div>

                                                    <div class="item">
                                                        <img ng-src="../image_upload/{{product.productimagename1}}" alt="Flower" width="100%">
                                                    </div>

                                                </div>

                                                <!-- Left and right controls -->
                                                <a class="left carousel-control" href="#myCarousel" role="button"
                                                   data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"
                                                          aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#myCarousel" role="button"
                                                   data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"
                                                          aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Name:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <div style="padding: 5px">
                                                    <p>{{product.productOwnerName}}</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Email Address:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <div style="padding: 5px">
                                                    <p>{{product.Emailaddress}}</p>
                                                </div>

                                            </div>
                                        </div>



                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Product Name:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <div style="padding: 5px">
                                                    <p>{{product.productName}}</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Product Type:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <div style="padding: 5px">
                                                    <p>{{product.productType}}</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Description:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <p ng-bind-html=product.productDescription> </p>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Address 1:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <p ng-bind-html=product.productAddress1>{{product.productAddress1}}</p>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Address 2:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <p ng-bind-html=product.productAddress2>{{product.productAddress2}}</p>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>City:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <p ng-bind-html=product.productCity>{{product.productCity}}</p>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Price:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <p>{{product.productPrice}}</p>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <h5>Contact:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <p>{{product.productContact}}</p>
                                            </div>
                                        </div>
                                        <div class="row text-left" >
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                                                <h5>Text:</h5>
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"  >
                                                <form>
                                                    <textarea class="form-control" rows="5" id="comment" ng-model ="text"></textarea>
                                                    <div style="padding:10px" >
                                                        <button ng-show="emailShow" class="btn btn-primary" ng-click="email()">Email</button>
                                                        <p ng-show="emailparashow">You have to login to email to rent this item</p>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--pagination-->
    <div class="row text-center">
        <dir-pagination-controls boundary-links="true" pagination-id="mealsPagination"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="../views/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-sanitize.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../js/dirPagination.js"></script>
<script type="text/javascript" src="../js/ng-file-model.js"></script>
<script type="text/javascript" src="../js/ng-ckeditor.js"></script>
<script type="text/javascript" src="../controllers/controller.js"></script>
<script type="text/javascript" src="http://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<script src="../js/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="../js/ng-file-upload.min.js"></script>
<script>
    /* CKEDITOR.replace( 'editor1' );
     CKEDITOR.replace( 'editor2' );*/
</script>
</body>
</html>