<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>My products</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/userprofile.css">
</head>
<body>
<div class="row container-wrapper header-wrapper">

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
        <a ng-href="home.html"><button class="btn btn-primary" ng-hide="" value="">Home</button></a>
        <a ng-href="../views/product.html"><button class="btn btn-primary" ng-hide="" value="">Product</button></a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class=" text-center" >
            <h2 class="header-no-margin">QuickRent</h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center" ng-controller="LoginCtrl">
        <div ng-show="checkUserLogout">
            <a href="" ng-click="" class="display-inline"><h5><b>Hi!{{userid}}</b></h5></a>
            <div class="display-inline">
                <button class="btn btn-danger"  value="" ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-controller="myuseraccount" >
            <div class="card">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        <img src="../images/user.png" class="img-responsive" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            <div>
                                <h4><b>User Name:</b></h4>
                            </div>
                            <div>
                                <h4>{{_id}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="profile-usermenu" style="padding:10px">
                        <ul class="nav">
                            <li class="active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h4><b>User Email:</b></h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h4><b>{{email}}</b></h4>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="row">
                <div ng-controller="myuseraccount"  ng-init="getuserproducts()">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                         dir-paginate="product in products | itemsPerPage: pageSize" current-page="currentPage"
                         pagination-id="mealsPagination">
                        <div class="card" style="height:306px!important">
                            <div class="card-img-container" style="height:229px!important">
                                <img ng-src="../image_upload/{{product.productimagename1}}" class="card-img" style="height:100%!important">
                                <span class="card-title">{{product.productOwnerName}}</span>
                            </div>
                            <div class="card-product-content">
                                <p ng-bind-html=product.productDescription></p>
                                <!-- Trigger the modal with a button -->
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product{{$index}}">More Detail</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="button" class="btn btn-primary" ng-click="deletedata(product._id)">Delete</button>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div id="product{{$index}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Product Details</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row inner-padding">
                                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                        <!-- Indicators -->
                                                        <ol class="carousel-indicators">
                                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                                        </ol>

                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner" role="listbox">

                                                            <div class="item active">

                                                                <img src="../image_upload/{{product.productimagename1}}" alt="Chania" width="100%">
                                                            </div>

                                                            <div class="item">
                                                                <img src="../image_upload/{{product.productimagename2}}" alt="Chania" width="100%">

                                                            </div>

                                                            <div class="item">

                                                                <img src="../image_upload/{{product.productimagename3}}" alt="Flower" width="100%">
                                                            </div>

                                                            <!--<div class="item">-->
                                                                <!--<img src="../image_upload/{{product.productimagename4}}" alt="Flower" width="100%">-->
<!--==-->
                                                            <!--</div>-->
                                                        </div>

                                                        <!-- Left and right controls -->
                                                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>Name:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <div style="padding: 5px">
                                                            <p>{{product.productOwnerName}}</p>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>Email Address:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <div style="padding: 5px">
                                                            <p>{{product.Emailaddress}}</p>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>Product Name:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <div style="padding: 5px">
                                                            <p>{{product.productName}}</p>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>Product Type:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <div style="padding: 5px">
                                                            <p>{{product.productType}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>Description:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <p ng-bind-html=product.productDescription> </p>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>Address 1:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <p>{{product.productAddress1}}</p>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>Address 2:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <p>{{product.productAddress2}}</p>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>City:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <p>{{product.productCity}}</p>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                                                        <h5>Price:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <p>{{product.productPrice}}</p>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                        <h5>Contact:</h5>
                                                    </div>
                                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <p>{{product.productContact}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--pagination-->
                <div class="row text-center">
                    <dir-pagination-controls boundary-links="true" pagination-id="mealsPagination"
                                             on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="../views/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.2/angular-sanitize.js"></script>
<script type="text/javascript" src="../js/dirPagination.js"></script>
<script type="text/javascript" src="../js/ng-file-model.js"></script>
<script type="text/javascript" src="../js/ng-ckeditor.js"></script>
<script type="text/javascript" src="../controllers/controller.js"></script>
<script type="text/javascript" src="http://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<script src="../js/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="../js/ng-file-upload.min.js"></script>
<scipt src="../js/config.js"></scipt>
</body>
</html>